// $color: steelblue;

// .my-flix {
//   color: $color;
// }

$primary: #2f4858;
$secondary: #d6d6d6;
// $accent: #f7be16;

// Cards
.card {
  color: $primary;
  .card-body {
    background-color: white;
  }
}

@import "~bootstrap/scss/bootstrap.scss";
